# Sensitive files
*.key
*.pem
*.env
!*.yaml.example
!*.yml.example
!*.env.example
.env
*.secret
*.yaml

# Backup files
*.backup
*.bak
*~

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# sensitive configs
configs/caddy/
configs/pihole/
configs/netdata/
configs/samba/
configs/docker-compose/
configs/.env
configs/*-config.env
